
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

.menu{
    display: block;
    padding: 10px;
}

#container{
    position: fixed;
    top: 800px;
    left: 100px;
    /* border: solid black 1px; */
    width:500px;
    height: 300px;
    background-color: transparent;
    /* background-color: #010630; */
}

#halo3{
    position: relative;
    left:1500px;
    top: 700px;
    font-size: 100px;
    font-family: 'Halo', sans-serif;
    color: lightblue;
    z-index: -1;
    display: block;
}

#Asad-Imran{
    position: fixed;
    left:1810px;
    top:900px;
    font-size: 45px;
    color: lightblue;
}

.menu-btn{
    background-color: transparent;
    border: none;
    color: lightblue;
    font-size: x-large;
    width: 480px;
    height: 45px;
    text-align: left;
    z-index: 1;
}
.menu:hover{
    background-image: linear-gradient(to right, orange, transparent);
    
}

#show-trailer .trailer{
    visibility: hidden;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    top: 50px;
    left: 500px;
    height: 800px;
    position:fixed;
    z-index: 1;
}

/* #show-trailer .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    top: 50px;
    left: 500px;
    height: 800px;
    position:fixed;
} */

/* @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */


  #trailer-escape{
    position: fixed;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    color: red;
    font-size: xx-large;
    width: 400px;
    height: 100px;
    left: 900px;
    top: 900px;
  }

  #trailer-escape-btn{
    visibility: hidden;
    width: 200px;
    height: 70px;
    font-size: xx-large;
    border-radius: 5px;
  }

  #trailer-escape-btn:hover{
    background-color: lightblue;
  }

  #trailer-escape-btn:active{
    background-color: yellow;
  }


#theater-header{
  color: white;
  position: fixed;
  left: 160px;
  color: lightblue;
  font-size: 60px;
  z-index: -1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#theater-lobby-menu{
  position: fixed;
  width: 500px;
  left: 150px;
  top: 150px;
  z-index: -1;
}

#films-header{
  color: lightblue;
  position: relative;
  font-family: sans-serif;
  left: 15px;
  z-index: -1;
}
#film-menu{
  position:fixed;
  left: 570px;
  top: 200px;
  margin-left: 0px;
  /* visibility: hidden; */
  display: none;
  border-radius: 5px;
  width: 500px;
  z-index: -1;
}

#switch-lobby-menu{
  position:fixed;
  left: 570px;
  top: 140px;
  margin-left: 0px;
  display: none;
  border-radius: 5px;
  width: 500px;
  z-index: -1;
}

#lobby-header{
  color: lightblue;
  position: relative;
  font-family: sans-serif;
  left: 15px;
  z-index: -1;
}


#msg-div{
  color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 300px;
  position: relative;
  font-size: xx-large;
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


#campaign-menu{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 600px;
}
#campaign-header{
  color: lightblue;
  font-family: sans-serif;
  position: relative;
  left: 50px;
  font-size: 60px;
}






